
.div{
    margin: 7rem;
}

p
{font-family: 'Seravek';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
letter-spacing: 0.06em;}

.puntosDeEncuentro{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;

}
.divImg{
    padding: 3rem;
}
.pPuntosDeEncuentro{
font-family: 'Seravek';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 20px;
letter-spacing: 0.06em;  

}
strong{
    font-weight: 10px;
    font-size: 15px; 
}
.visitasImg{
    width: 150px;
    height: 130px;
}
@media (max-width: 600px) {
    .puntosDeEncuentro {
        display:flex;
        flex-direction: column;
    }
    .visitasImg{
        width: 125px;
       
    }
  }
  