.container {
  padding: 50px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Trashhand";
  src: url("../../assets/fonts/TrashHand.TTF");
}

@font-face {
  font-family: "Seravek";
  src: url("../../assets/fonts/Seravek.ttf");
}

body {
  font-family: 'Seravek', 'sans-serif';
  font-size: 1.125em;
  color: #444445;
  font-weight: 300;
}

.colaborar section {
  margin-bottom: 20px;
  padding: 40px;

}

.h2Colborar {
  color: #55BA68;
  font-family: 'Trashhand';
  font-size: 2.8em;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 20px;
}

.h3Colaborar {
  margin-bottom: 20px;
  font-size: 1.2500em;
  color: #FFFFFF;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0;
}

.pColaborar {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.pCuentaBancaria {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.aColaborar {
  color: #55BA68;
  text-decoration: none;
  cursor: pointer;
}

.spanColaborar {
  font-weight: bold;
}

.parentGrid2 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 0px;
  margin: 0px
}

.cuentaBancaria {
  background-color: #E48125;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.15em;
  padding: 40px;
  max-height: 300px;
  min-height: 300px;
}

.debitoAutomatico {
  background-color: #6B639A;
  border-radius: 25px;
  padding: 40px;
  max-height: 300px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #FFFFFF;
}

.buttonFormDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.buttonForm {
  width: 30%;
  min-width: 235px;
  font-size: 1em;
  color: #6B639A;
  height: auto;
  background-color: #FAFAFA;
  margin-top: 20px;
  align-self: flex-end;
  min-height: 60px !important;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  margin: 0px;
}

.parentGrid5 {
  -ms-grid-columns: none;
  grid-template-columns: none;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-grid-columns: 29% 17% 17% 17% 17%;
  grid-template-columns: 29% 17% 17% 17% 17%;
  gap: 10px;
  padding: 10px 0;
}

.medioDePagoML,
.medioDePagoCF,
.medioDePagoPaypal {
  display: flex;
  border: 3px solid #4FA7C1;
  padding: 50px;
  margin: 0px;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  grid-row-start: 1;
  grid-row-end: 3;
  height: -webkit-fill-available;
}

.buttonML,
.buttonCF,
.buttonPaypal {
  cursor: pointer;
  background-color: #4FA7C1;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.8em;
  height: 100%;
  min-height: 150px;
}
.btnPaypalMonto{
  padding: 1rem;
}

.buttonML:hover {
  background-color: #3C7E91;
}

.buttonCF {
  background-color: #55BA68;
}

.buttonCF:hover {
  background-color: #2B5D34;
}

.buttonPaypal {
  background-color: #F9C0C1;
  min-height: 150px;
  height: 100%;
}

.buttonPaypal:hover {
  background-color: #BB9091;
}

.medioDePagoPaypal {
  border: 3px solid #F9C0C1;
 }
/* .medioDePagoCF {
  border: 3px solid #55BA68;
/* }
 */


.medioDePagoCF {
  border: 3px solid #55BA68;
  height: -webkit-fill-available;
  max-height: 150px;}

.imgColaborar {
  width: 100%;
}

.noButton {
  text-align: center;
  font-weight: 100;
  color: #FFFFFF;
  font-size: 14.4px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.inputColaborar {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  border: 0px;
  border-bottom: 3px solid white;
  background: transparent;
  margin-bottom: 10px;
  margin-top: 35px;
  width: 85%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.parentGridPaypal {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-grid-columns: 29% 70.5%;
  grid-template-columns: 29% 70.5%;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  padding: 10px 0;
}
.linkCafecito{
  color: white;
}
.linkCafecito:link{
  text-decoration: none;
}

.linkCafecito:active{
  text-decoration: none;
 }

.linkCafecito:visited{
  text-decoration: none;
}

@media (max-width: 800px) {
  .colaborar section {
    padding: 40px
  }

  .parentGrid2,
  .parentGrid5,
  .parentGridPaypal {
    grid-template-columns: none;
    gap: 10px;
  }

  .debitoAutomatico {
    font-size: 0.8em;
  }
}