.container {
  padding: 50px;
}

.sectionCuidados{
  margin:0px;
  padding: 0px;
}

.parentColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.h2cuidados {
  margin-bottom: 20px;
  font-family: 'Trashhand';
  font-size: 2.8em;
  color: #6B639A;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}

.pCuidados {
  margin-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1em;

}

.imgCuidados {
  width: 100%;
  height: auto
}

.box {
  width: 25%;
  padding: 0px;
  height: 300px;
}

.boxContainer {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 768px) {
  .box {
    width: 50%;
  }

  main {
    padding-top: 30px
  }
  .h2cuidados{
    margin:0px;

  }
}
@media (max-width: 360px) {
  .parentColumn{
    margin:0px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
  }
  .boxContainer{
    margin:0px;
    padding: 0px;
  }
  .box {
    height: 250px;
    width: 100%;
  }
  .h2cuidados{
    margin-top:20px;

  }
}