.div {
  margin: 7rem;
}
.liVoluntario::before {
  content: "\2022";
  color: #4fa7c1;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.h1Voluntario {
  font-family: "TrashHand", sans-serif;
  color: #4fa7c1;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 51px;
}
.ul{
  list-style: none;
}
.h3Voluntario {
  color: #4fa7c1;
}
.buttonVoluntario {
  font-family: Seravek, Calibri, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #fafafa;
  background-color: #4fa7c1;
  border: 3px solid;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  max-width: fit-content;
}
.voluntarioContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .div {
    margin: 3rem;
  }
}
