.homeContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem 0;
}
.pHome {
  font-family: Seravek, Calibri, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 18.09px;
}
.halfHomeContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.IconsBar {
  display: flex;
  margin: 0 3rem 0 0;
}
.textContainer {
  padding: 2rem;
}
.homeImage {
  width: 42rem;
}
.h2Home {
  font-family: "TrashHand";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #4fa7c1;
}
.homeMenu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2 1fr);
  font-family: Seravek, Calibri, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.06em;
  color: white;
  margin: 0 2rem 2rem;
}

.adoptar {
  background-color: #f9c0c1;
}
.donaciones {
  background-color: #6b639a;
}
.visitas {
  background-color: #fca24f;
}
.veterinaria {
  background-color: #444445;
}
.campito {
  background-color: #55ba68;
}
.comunicacion,
.comportamiento {
  background-color: #e48125;
}
.voluntario {
  background-color: #4fa7c1;
}
a {
  text-decoration: none;
  color: white;
  height: 200px;
  font-family: Seravek, Calibri, Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.06em;
  padding: 15px;
}
img {
  width: 400px;
}
@media (max-width: 600px) {
  .homeContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .homeMenu {
    font-size: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  a {
    padding: 5px;
    height: 55px;
    border-radius: 15px;
    text-align: center;
  }

  .h2Home {
    font-size: 33px;
  }
}
@media (max-width: 1050px) {
  .homeImage {
    width: 30rem;
  }
}

@media (max-width:900px) {
  .homeImage {
    width: 25rem;
  }
}


@media (max-width:800px) {
  .halfHomeContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .homeContenedor {
    display: flex;
    flex-direction: column;
  }
  .IconsBar{
    display: flex;
    flex-direction: row;
    margin:  0 2rem;
  }
}
@media (max-width:500px) {
  .halfHomeContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}