.campitoContenedor{
    margin: 7rem;
}
.h1Campito{
    color:#55BA68
}
.campitoButton{
height: 56px;
width: 432px;
border-radius: 16px;
background-color:#55BA68;
color: white;
font-family: Seravek, Calibri, Roboto, Arial, sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.06em;
text-align: center;
border: 3px solid ;

}
.programaCharla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .campitoButton{
        font-size: 17px;
        width: auto;
    }
    img{
        width: 80%;
    }
    .campitoContenedor{
        width: 100%;
    }
    .campitoContenedor{
        margin: 3rem;
    }
}