.footerContainer{
    width: 100%;
    height: 311px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin-top: 2rem;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-top: 55px;
}

.infoIconsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.infoIcons{
    Width: 25.33px;
    Height: 31.67px;
}

.infoIconsText{
    margin: 0px 0px 0px 15px;
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 22.6772px;
    line-height: 28px;
    color: #444445;
}

.seguinos{
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 700;
    font-size: 22.6772px;
    line-height: 28px;
} 

.socialIcons{
    margin: 0px 33px 0px 0px;
    Width: 35.95px;
    Height: 29.23px;
}

.copyright{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #444445;
    margin: 0px;
}
.imgFooter{
width: auto;
}
@media (max-width: 800px) {

    .footerContainer{
        height: fit-content;
        gap: 20px;
    }

    .infoContainer{
        display:flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
}